.articleContent {
  ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 6vw;
  }

  ul {
    list-style-type: var(--marker);
    margin: 1em 0;
    padding-left: 6vw;
  }

  p:not(:first-of-type) {
    text-indent: 6vw;
  }

  :global(.note) {
    --width: 3ch;

    font-size: 1.3rem;
    line-height: 1.3;
    margin-top: 2vw;
    padding-left: var(--width);

    && { text-indent: 0; }

    &::before {
      content: "(*)";
      display: inline-block;
      text-indent: calc(var(--width) * -1);
    }
  }
}

.articleHeading {
  font-size: clamp(4rem, 7vw, 8rem);
}
