.articleContent {
  /**
   * Lists.
   */
  ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 6vw;
  }

  ul {
    list-style-type: var(--marker);
    margin: 1em 0;
    padding-left: 6vw;
  }
}
