@import "tailwindcss";

:root {
  --dark: #cccccc;
  --light: #0a0a0a;
  --base-padding: 1.5rem;
}

@theme {
  --animate-fade-in: fadeIn 450ms ease-out 1;
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

@theme inline {
  --color-dark: var(--dark);
  --color-light: var(--light);

  /* Theme Colors */
  --color-theme-a: #d31815;
  --color-theme-b: #e76e5b;
  --color-theme-c: #ec6c12;
  --color-theme-d: #f29e18;
  --color-theme-e: #96783d;
  --color-theme-f: #515049;
  --color-theme-g: #f3c512;
  --color-theme-h: #167c37;
  --color-theme-i: #0da862;
  --color-theme-j: #0b464e;
  --color-theme-k: #17b5d7;
  --color-theme-l: #0c1943;
  --color-theme-m: #6866bf;
  --color-theme-n: #131113;
  --color-theme-0: #ffffff;
  --color-theme-p: #e64c9d;
  --color-theme-q: #ec1049;
  --color-theme-r: #520f20;
  --color-theme-s: #e69cae;

  /* Fonts */
  --font-crimson-curse: var(--font-crimson-curse);
  --font-gory: var(--font-gory);
  --font-decimal: var(--font-decimal);
  --font-ringside-regular: var(--font-ringside-regular);
  --font-champion-bantamweight: var(--font-champion-bantamweight);
  --font-champion-featherweight: var(--font-champion-featherweight);
  --font-champion-liteweight: var(--font-champion-liteweight);
  --font-champion-welterweight: var(--font-champion-welterweight);
  --font-champion-middleweight: var(--font-champion-middleweight);
  --font-champion-heviweight: var(--font-champion-heviweight);

  /* Space */
  --spacing-drop-cap: 160px;
  --spacing-content-width: 900px;
}

/* Text Outline Utilities */
@utility text-outline-* {
  -webkit-text-stroke: clamp(0.5px, 1.5px, 2px) --value(--color-*, color, [color]);
  -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #0a0a0a;
    --light: #ededed;
    --test: #ffdc00;
  }
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: var(--font-ringside-regular), 'Helvetica Neue', sans-serif;
  font-size: 2.15rem;
  font-feature-settings: "tnum" on;
  font-weight: 400;
  line-height: 1.2;
  text-wrap: balance;
}

/* a {
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.07em;
} */

h1, h2, h3, h4, h5, h6 { font-weight: inherit; }

/* h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2.5px rgb(255 255 255/0.7);
} */
