@import "tailwindcss";

:root {
  --background: #cccccc;
  --foreground: #0a0a0a;
  --base-padding: 1.5rem;
}

@theme {
  --animate-fade-in: fadeIn 450ms ease-out 1;
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  --animate-scroll-up: scroll-up 300s linear infinite;
  @keyframes scroll-up {
    from { transform: translateY(0%); }
    to { transform: translateY(-100%); }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Theme Colors */
  --color-theme-a: #cd1b12;
  --color-theme-b: #e06a57;
  --color-theme-c: #e66611;
  --color-theme-d: #eb981a;
  --color-theme-e: #8f7439;
  --color-theme-f: #ebbe0a;
  --color-theme-g: #127834;
  --color-theme-h: #05a15e;
  --color-theme-i: #0a454a;
  --color-theme-j: #14b0d0;
  --color-theme-k: #0b1740;
  --color-theme-l: #6662b8;
  --color-theme-m: #121013;
  --color-theme-n: #f7f6f7;
  --color-theme-0: #e04998;
  --color-theme-p: #e51545;
  --color-theme-q: #4f101f;
  --color-theme-r: #e096a9;

  /* Fonts */
  --font-crimson-curse: var(--font-crimson-curse);
  --font-gory: var(--font-gory);
  --font-decimal: var(--font-decimal);
  --font-ringside-regular: var(--font-ringside-regular);
  --font-champion-bantamweight: var(--font-champion-bantamweight);
  --font-champion-featherweight: var(--font-champion-featherweight);
  --font-champion-liteweight: var(--font-champion-liteweight);
  --font-champion-welterweight: var(--font-champion-welterweight);
  --font-champion-middleweight: var(--font-champion-middleweight);
  --font-champion-heviweight: var(--font-champion-heviweight);
  --font-plain-black: var(--font-plain-black);
  --font-knockout-full: var(--font-knockout-full);
  --font-knockout-ultimate: var(--font-knockout-ultimate);
  --font-monaspace-neon: var(--font-monaspace-neon);

  /* Space */
  --spacing-drop-cap: 160px;
  --spacing-content-width: 900px;

  /* Misc. */
  --marker: "—";
}

/* Text Outline Utilities */
@utility text-outline-* {
  -webkit-text-stroke-color: --value(--color-*, [color]);
  /* -webkit-text-stroke-width: clamp(0.5px, 0.1vw, 2px); */
  -webkit-text-stroke-width: clamp(1px, 0.3vw, 2.5px);
  -webkit-text-fill-color: transparent;
}

@utility text-outline-none {
  -webkit-text-stroke: 0;
  -webkit-text-fill-color: currentColor;
}

@utility text-gradient {
  background: linear-gradient(to right, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@utility link-underline {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.05em;
}

@utility underline-overline {
  text-decoration-line: underline overline;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: black;
  font-family: var(--font-ringside-regular), 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-feature-settings: "tnum" on;
  font-weight: 400;
  line-height: 1.2;
  text-wrap: balance;
}

/* h1, h2, h3, h4, h5, h6 { font-weight: inherit; } */
