.content {
  font-weight: 500;

  :global(.note) {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4;
  }

  :global(.title) {
    display: flex;
    flex-direction: column;
  }

  :global(.drop-cap) {
    /* -webkit-text-fill-color: rgb(0 0 0/12%);
    -webkit-text-stroke: 0.017em currentColor;
    color: white; */
    display: block;
    float: left;
    font-family: "ED Daffodil";
    font-size: 5em;
    font-weight: 100;
    line-height: 1;
    margin-bottom: -0.1em;
    paint-order: fill stroke;
    position: relative;
    text-indent: -0.03em;

    /* -webkit-text-fill-color: rgb(0 0 0/12%); */
    -webkit-text-stroke: 0.017em white;
    font-family: 'Crimson Curse';
    font-size: 11em;
    line-height: 0.55;
    padding: 0 0.1em 0.1em 0;
    text-indent: 0.01em;
  }

  :global(.fancy) {
    font-family: "Ringside Compressed", "Chronicle Disp Comp";
    font-size: 2em;
    font-weight: 200;
    line-height: 1.1;
    text-align: center;
    text-justify: newspaper;
    text-wrap: balance;
  }
}

:global(.content) {
  display: flex;
  flex-direction: column;
  gap: 1.16em;
  font-size: 0.75em;
  line-height: 1.16;
  text-wrap: pretty;
}
